.container-geral {
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {

    font-family: Georgia, 'Times New Roman', Times, serif;

}

.input-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 0px;
}

.input-area #div-forms {
    display: table-row;
    margin: 5px;
    right: 10px;
    bottom: 0px;
}


.input-area #div-forms input {

    margin: 5px;
    right: 10px;
}

.input-area #div-forms input::placeholder {
    text-align: center;
}

.input-area .btn-primary {
    padding: 0px 20px 0px 20px;
    align-items: end;
}

.input-area .div-botao {
    display: flex;

    justify-content: center;
}

.areaTemplate {

    display: none;
    flex-direction: column;
    justify-content: center;
    border-color: black;
}

.areaTemplate .label-template {
    margin-top: 2px;
    text-align: center;


}



.areaTemplate #chose-template,
#template-select {
    margin: 4px;
    border-radius: 2px;
    border-color: black;
}

.areaTemplate.areaTemplate .bi-clipboard {
    margin-left: auto;

}

.areaTemplate .template-select {
    background-color: rgb(232, 218, 218);
    display: flex;
    width: 600px;
    height: 400px;
    height: auto;
    padding: 10px;
    font-size: 16px;
    resize: horizontal;
    box-sizing: border-box;
    text-align: center;
    resize: none;
}

.areaTemplate .template-select::placeholder {
    text-align: center;
}

.areaTemplate .chose-template {
    text-align: center;
}